<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="/stylesheets/add_subject_stage1.css" type="text/css" rel="stylesheet">


<h1>{{course}}</h1>
<p>Select the Semester and add the subjects </p>
<div class="frame">
    <button onclick="window.location.href = '/admin/add_subject/{{course}}/sem1'" class="custom-btn btn-1">sem1</button>

    <button onclick="window.location.href = '/admin/add_subject/{{course}}/sem2'" class="custom-btn btn-1">sem2</button>

    <button onclick="window.location.href = '/admin/add_subject/{{course}}/sem3'" class="custom-btn btn-1">sem3</button>

    <button onclick="window.location.href = '/admin/add_subject/{{course}}/sem4'" class="custom-btn btn-1">sem4</button>

    <button onclick="window.location.href = '/admin/add_subject/{{course}}/sem5'" class="custom-btn btn-1">sem5</button>

    <button onclick="window.location.href = '/admin/add_subject/{{course}}/sem6'" class="custom-btn btn-1">sem6</button>



</div>
<div class="mt-4 pt-2 text-center">

    <input onclick="window.location.href = '/admin/add_subject'" value="Back" class="btn btn-primary btn-lg" type="button">
</div>