<link href="/stylesheets/passwordchange.css" type="text/css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/passwordchange.css">







<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;" >
      <div class="container-fluid">

       

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
         
         &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp
        <div class="collapse navbar-collapse"style="background-color: #e3f2fd;height:60px;" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="navbar-nav me-auto mb-2 mb-lg-0">
                
              <a class="nav-link fs-6 text" aria-current="page" href="/profile">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/gmzxduhd.json" trigger="hover" style="width:40px;height:40px;">
                </lord-icon>
                Home
              </a>
            </li>
            &nbsp&nbsp&nbsp
            <li class="nav-item">
              <a class="nav-link fs-6 text" href="/payment/{{user._id}}">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/uqpazftn.json" trigger="hover" style="width:50px;height:50px">
                </lord-icon>Payfee
              </a>

            </li>

            &nbsp&nbsp&nbsp

            <li class="nav-item">
              <a class="nav-link fs-6 text" href="/fee_history/{{user._id}}/{{user.course}}">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/nocovwne.json" trigger="hover" style="width:40px;height:40px">
                </lord-icon>Histroy
              </a>
            </li>
            &nbsp&nbsp&nbsp
            <li class="nav-item dropdown">
              <a data-bs-toggle="dropdown" role="button" id="navbarDropdown" class="nav-link dropdown-toggle fs-6 text"
                href="">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/dxjqoygy.json" trigger="hover"
                  colors="primary:#121331,secondary:#08a88a" stroke="65" state="hover-looking-around"
                  style="width:40px;height:40px">
                </lord-icon>Profile
              </a>
              &nbsp&nbsp&nbsp
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/change_password/{{id}}">
                                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                                <lord-icon src="https://cdn.lordicon.com/ugbgnnqc.json" trigger="hover"
                                    style="width:30px;height:30px">
                                </lord-icon>password change
                            </a></li>

                        <li><a class="dropdown-item" href="/edit_profile/{{id}}">
                                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                                <lord-icon src="https://cdn.lordicon.com/puvaffet.json" trigger="hover"
                                    style="width:30px;height:30px">
                                </lord-icon>Edit profile
                            </a></li>
                    </ul>
                </li>
           
            &nbsp&nbsp&nbsp
            <li class="nav-item">
              <a class="nav-link fs-6 text" href="/logout">
                <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
                <lord-icon src="https://cdn.lordicon.com/gkditgni.json" trigger="hover" style="width:30px;height:30px">
                </lord-icon>Log out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


{{#if passfailed}}



<script>
  Toastify({
    text: " Password updation is failed ,please check is the old password",
    className: "info",
    duration: 8000,
    close: true,
    gravity: "bottom", // `top` or `bottom`
    position: "right", // `left`, `center` or `right`
    stopOnFocus: true, // Prevents dismissing of toast on hover
    style: {
      background: "linear-gradient(to right, #5867d6,#5867d6)",
    }
  })



    .showToast();
</script>
                   
{{/if}}

<div class="soman">

    <div class="con-flex">
        <div class="con-inputs">
            <div class="con-input">
                <form method="post" onsubmit=" return verifyPassword()" action="/updatepassword/{{id}}">
                    <input id="p3" name="oldpass" placeholder="Old Password" type="password">

            </div>
            <div class="con-input">

                <input id="p1" name="newpass" oninput="handleInput(event);" placeholder="New Password" type="password">
                <div class="icons">
                    <i class='bx bxs-check-circle check'></i>
                    <i class='bx bxs-x-circle x'></i>
                </div>

            </div>
            <div class="con-input">
                <input disabled id="p2" oninput="checkInputConfirm(event)" placeholder="Confirm Password"
                    type="password">
                <div class="icons">
                    <i class='bx bxs-check-circle check'></i>
                    <i class='bx bxs-x-circle x'></i>
                </div>
            </div>
            <div class="con-input">
                <button id="button" type="submit"> Change </button>
            </div>
            </form>
        </div>
        <div class="reqs">
            <span id="min8">minimum of 8 characters
                <div class="icons">
                    <i class='bx bxs-check-circle check'></i>
                    <i class='bx bxs-x-circle x'></i>
                </div>
            </span>
            <span id="atUp">at least 1 upper character
                <div class="icons">
                    <i class='bx bxs-check-circle check'></i>
                    <i class='bx bxs-x-circle x'></i>
                </div>
            </span>
            <span id="atLow">at least 1 lower character
                <div class="icons">
                    <i class='bx bxs-check-circle check'></i>
                    <i class='bx bxs-x-circle x'></i>
                </div>
            </span>
            <span id="atNum">at least 1 number
                <div class="icons">
                    <i class='bx bxs-check-circle check'></i>
                    <i class='bx bxs-x-circle x'></i>
                </div>
            </span>
            <span id="atSp">at least 1 special character
                <div class="icons">
                    <i class='bx bxs-check-circle check'></i>
                    <i class='bx bxs-x-circle x'></i>
                </div>
            </span>
        </div>
    </div>
</div>

<script>
    function handleInput(evt) {
        const value = evt.target.value;
        const p2 = document.getElementById("p2");

        if (value.value != p2.value) p2.classList.add("invalid");
        p2.classList.remove("valid");
        const pwdRegex = /^(?=.{8,}$)(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[0-9])(?=.*?\W).*$/;
        const minreg = /^.{8,}$/;
        const upreg = /^(?=.*?[A-Z]).*$/;
        const lowreg = /^(?=.*?[a-z]).*$/;
        const numreg = /^(?=.*?[0-9]).*$/;
        const spreg = /^(?=.*?\W).*$/;

        if (pwdRegex.test(value.trim())) {
            evt.target.classList.add("valid");
            evt.target.classList.remove("invalid");
            document.getElementById("p2").disabled = false;
        } else {
            evt.target.classList.add("invalid");
            evt.target.classList.remove("valid");
            document.getElementById("p2").disabled = true;

        }

        if (minreg.test(value.trim())) {


            $('#min8 .icons .x').css('visibility', 'hidden');
            $('#min8 .icons .check').css('visibility', 'visible');

        } else {
            $('#min8 .icons .x').css('visibility', 'visible');
            $('#min8 .icons .check').css('visibility', 'hidden');

        }
        if (upreg.test(value.trim())) {
            $('#atUp .icons .x').css('visibility', 'hidden');
            $('#atUp .icons .check').css('visibility', 'visible');

        } else {
            $('#atUp .icons .x').css('visibility', 'visible');
            $('#atUp .icons .check').css('visibility', 'hidden');

        }
        if (numreg.test(value.trim())) {
            $('#atNum .icons .x').css('visibility', 'hidden');
            $('#atNum .icons .check').css('visibility', 'visible');

        } else {
            $('#atNum .icons .x').css('visibility', 'visible');
            $('#atNum .icons .check').css('visibility', 'hidden');

        }

        if (lowreg.test(value.trim())) {
            $('#atLow .icons .x').css('visibility', 'hidden');
            $('#atLow .icons .check').css('visibility', 'visible');

        } else {
            $('#atLow .icons .x').css('visibility', 'visible');
            $('#atLow .icons .check').css('visibility', 'hidden');
        }

        if (spreg.test(value.trim())) {
            $('#atSp .icons .x').css('visibility', 'hidden');
            $('#atSp .icons .check').css('visibility', 'visible');

        } else {
            $('#atSp .icons .x').css('visibility', 'visible');
            $('#atSp .icons .check').css('visibility', 'hidden');

        }

        if (!value) {
            evt.target.classList.remove("invalid");
        }
    }
    function handleInputConfirm(evt) {
        const value = document.getElementById("p1");
        if (value.value == "") alert("Please");

        if (!value) {
            evt.target.classList.remove("invalid");
        }
    }
    function checkInputConfirm(evt) {
        const value = document.getElementById("p1");
        if (value.value != evt.target.value) {
            evt.target.classList.add("invalid");
            evt.target.classList.remove("valid");

        } else {
            evt.target.classList.add("valid");
            evt.target.classList.remove("invalid");
        }
    }


    function verifyPassword() {
        var pw2 = document.getElementById("p1").value;
        var pw = document.getElementById("p2").value;
        //check empty password field  
        if (pw == "") {

            return false;
        }
        // check confrim passwords
        if (pw != pw2) {

            return false;
        }
        //minimum password length validation  
        if (pw.length < 8) {

            return false;
        }

        //maximum length of password validation  
        if (pw.length > 15) {

            return false;
        } else {
            return confirm("are you sure want to submit");
        }
    }  

</script>